/.venv
/.venv311
*/.venv
**/.venv/
**/.env/
**/__pycache__/
**/.ipynb_checkpoints/
*.vscode
*.VSCode
*.code-workspace
*.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.egg-info/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.env
*.local
*.idea/
roberta_sentiment_maria/.venv/
roberta_sentiment_maria/.env/
rf_sentiment_urgency_features/__pycache__/
rf_sentiment_urgency_features/.venv/
rf_sentiment_urgency_features/.env/
!README.md